@import "tailwindcss";

@theme {
  --color-primary-blue: #0039e3;
  --color-dark-blue: #231f33;
  --color-silver: #c0c0c0;
  --color-silver-background: rgba(192, 192, 192, 0.3);
  --color-primary-green: #0ef595;
  --color-github-color: #293032;
  --color-light-black: #1A1A1A;
  --color-shadow-black: #0000001a;
  --color-blue-background: rgba(0, 57, 227, 0.2);
  --color-shadow-black-2: rgba(0, 0, 0, 0.5);
  --color-shadow-black-02: rgba(0, 0, 0, 0.2);
}

/* body {
  font-family: 'switzer', sans-serif;
} */
html {
  scroll-behavior: smooth;
}


@font-face {
  font-family: "clash-display";
  src: url("./assets/fonts/ClashDisplay-Medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "switzer";
  src: url("./assets/fonts/Switzer-Medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .font-clash-display {
    font-family: "clash-display", sans-serif;
  }
  .font-switzer {
    font-family: "switzer", sans-serif;
  }
  .animate-fadeLoad {
    animation: fadeAnimate 2s ease-in-out forwards;
    animation-delay: calc(var(--delay) * 0.05s);
    transform: translate(120px);
  }
  .animate-poop {
    animation: AnimatePoop 1s ease-in-out forwards;
    animation-delay: 1.2s;
    opacity: 0;
    transform: translateY(40px);
  }
  .animate-nav {
    animation: AnimateNav 1s ease-in-out forwards;
    animation-delay: 2s;
    transform: translateY(-120px);
  }
  .animate-opacity {
    animation: AnimateOpacity 1s ease-in-out forwards;
    animation-delay: var(--animDelay);
  }
  .animate-position-opacity {
    animation: AnimatePositionOpacity 1s ease-in-out forwards;
    animation-delay: 1.5s;
    opacity: 0;
    transform: translateY(40px);
  }
  .animate-blur {
    animation: AnimateBlur 1s ease-in-out forwards;
    animation-delay: 2s;
    filter: blur(80px);
  }
  .animate-infinite-scroll {
    animation: infiniteScroll 50s linear infinite
  }
  /* .animate-scroll-left {
    animation: scroll-left 10s linear infinite;
} */
  /* .loop-item1{
  animation-delay: calc(20s / 4 * (4 - 1) * -1);
}
.loop-item2{
  animation-delay: calc(20s / 4 * (4 - 2) * -1);
}
.loop-item3{
  animation-delay: calc(20s / 4 * (4 - 3) * -1);
}
.loop-item4 {
  animation-delay: calc(20s / 4 * (4 - 4) * -1);
}  */
}

.animated-spans {
  opacity: 0;
  transform: translateY(24px);
  filter: blur(40px);
}
@keyframes fadeAnimate {
  0% {
    opacity: 0;
    filter: blur(40px);
    transform: translateY(24px);
  }
  75% {
    transform: translateY(24px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

@keyframes AnimatePoop {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes AnimateNav {
  0% {
    transform: translateY(-120px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes AnimateOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes AnimatePositionOpacity {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes AnimateBlur {
  from {
    filter: blur(40px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes infiniteScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
} 

.projects-slide {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

